{% extends 'base.html.twig' %}

{% set active = 'topic' %}

{% block body %}
    <h1 class="mb-3">
        Discover our hot topics
    </h1>

    <ul class="list-group mb-3">
        {% for topicInfo in topics %}
            {% set topic = topicInfo.topic %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url('topic_show', {id: topic.id}) }}">
                    {{ topic.title }}
                </a>
                <div>
                    <span class="badge rounded-pill bg-primary">{{ topicInfo.messageCount }}</span>
                    {# {% for tag in topic.tags %}
                        <span class="badge bg-info text-dark">{{ tag.title }}</span>
                    {% endfor %} #}
                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url('topic_new') }}" class="btn btn-primary">
        Create a new topic
    </a>
{% endblock %}
