{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-3">
            {{ topic.title }}
        </h1>
        <div>
            <small class="badge rounded-pill bg-primary">{{ topic.messages|length }}</small>
            {% for tag in topic.tags %}
                <span class="badge bg-info text-dark">{{ tag.title }}</span>
            {% endfor %}
        </div>
    </div>

    {% for message in topic.messages %}
        <div class="card mb-2">
            <div class="card-body">
                {% if message.contentCompiled %}
                    {{ message.contentCompiled|raw }}
                {% else %}
                    {{ message.content }}
                {% endif %}

            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-between">
                    <div>
                        On {{ message.createdAt|format_date() }}
                        By {{ message.author.username }}
                    </div>
                    <div>
                        {% if is_granted('MESSAGE_EDIT', message) %}
                            <a href="{{ url('message_edit', {id: message.id}) }}" class="btn btn-sm btn-secondary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <a href="{{ url('message_new', {id: topic.id}) }}" class="btn btn-primary">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Reply
        {% else %}
            Log in to reply
        {% endif %}
    </a>
{% endblock %}
